# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Uploads / temp static files
static/uploads/*
!static/uploads/.gitkeep
